name: PCloud Proxy Tarayici

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Gereklilikleri Yukle
        run: pip install aiohttp

      - name: Calistir
        env:
          PCLOUD_USERNAME: ${{ secrets.PCLOUD_USERNAME }}
          PCLOUD_PASSWORD: ${{ secrets.PCLOUD_PASSWORD }}
        run: python main.py
