name: Uploader

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"   # her 6 saat

jobs:
  scan:
    runs-on: ubuntu-latest
    

    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install -r requirements.txt

      - name: Run scanner
        run: python scanner.py
        env:
          CONFIG_URLS: ${{ secrets.CONFIG_URLS }}
          YANDEX_TOKEN: ${{ secrets.YANDEX_TOKEN }}
          
