name: Upload Configs to Yandex Disk

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: pip

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Debug – list files
        run: ls -R

        # 1. Adım: MaxMind GeoIP Veritabanını İndir
      - name: Download GeoIP Database
        run: |
          wget -q https://github.com/P3TERX/GeoLite.mmdb/raw/download/GeoLite2-Country.mmdb -O GeoLite2-Country.mmdb

      # 2. Adım: Gerekli Python Kütüphanelerini Yükle
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install aiohttp geoip2

      - name: Run scanner
        env:
          CONFIG_URLS: ${{ secrets.CONFIG_URLS }}
          YANDEX_TOKEN: ${{ secrets.YANDEX_TOKEN }}
          YANDEX_OUTPUT_FILE: ${{ secrets.YANDEX_OUTPUT_FILE }}
        run: python scanner.py

      - name: Upload logs (on failure)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: error-logs
          path: |
            *.log
            *.txt
            
